/* ========================= */
/* 🌍 RESET */
/* ========================= */
*{

  margin:0;
  padding:0;

  box-sizing:border-box;

}


html{

  scroll-behavior:smooth;

}


body{

  font-family:

    Arial,
    sans-serif;

  background:
    #050816;

  color:white;

  overflow-x:hidden;

  min-height:100vh;

  position:relative;

}


/* ========================= */
/* 🌌 BACKGROUND */
/* ========================= */
.background{

  position:fixed;

  inset:0;

  overflow:hidden;

  z-index:0;

}


/* ========================= */
/* ✨ GLOWS */
/* ========================= */
.glow{

  position:absolute;

  border-radius:50%;

  filter:blur(120px);

  opacity:0.35;

}


.glow-one{

  width:450px;
  height:450px;

  background:#00ffff;

  top:-120px;
  left:-120px;

}


.glow-two{

  width:500px;
  height:500px;

  background:#4f46e5;

  bottom:-180px;
  right:-150px;

}


/* ========================= */
/* 🧩 GRID */
/* ========================= */
.grid{

  position:absolute;

  inset:0;

  background-image:

    linear-gradient(
      rgba(255,255,255,0.03)
      1px,
      transparent 1px
    ),

    linear-gradient(
      90deg,
      rgba(255,255,255,0.03)
      1px,
      transparent 1px
    );

  background-size:
    45px 45px;

  mask-image:
    radial-gradient(
      circle at center,
      black 30%,
      transparent 100%
    );

}


/* ========================= */
/* 🌟 SCROLLBAR */
/* ========================= */
::-webkit-scrollbar{

  width:10px;

}


::-webkit-scrollbar-track{

  background:#0b1020;

}


::-webkit-scrollbar-thumb{

  background:
    linear-gradient(
      #06b6d4,
      #4f46e5
    );

  border-radius:20px;

}


/* ========================= */
/* ✨ SELEÇÃO */
/* ========================= */
::selection{

  background:#06b6d4;

  color:white;

}