/* ========================= */
/* 🍞 TOAST */
/* ========================= */
.toast{

  position:fixed;

  top:30px;
  right:30px;

  min-width:280px;
  max-width:350px;

  padding:
    18px 22px;

  border-radius:18px;

  background:
    rgba(15,23,42,.95);

  border:
    1px solid rgba(255,255,255,.08);

  color:white;

  font-size:15px;
  font-weight:600;

  backdrop-filter:blur(18px);

  box-shadow:
    0 20px 40px
    rgba(0,0,0,.35);

  transform:
    translateX(120%);

  opacity:0;

  transition:
    .35s ease;

  z-index:99999;

}


/* ========================= */
/* ✨ SHOW */
/* ========================= */
.toast.show{

  transform:
    translateX(0);

  opacity:1;

}


/* ========================= */
/* 📱 RESPONSIVO */
/* ========================= */
@media(max-width:600px){

  .toast{

    right:15px;
    left:15px;

    top:20px;

    min-width:auto;
    max-width:none;

  }

}